@import "./colores.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap");

.container-cargar-stock-1 {
  font-family: "Nunito", sans-serif !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
}

.container-elegir-tam-talle {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  margin-top: 20px;
}

.link-elegir-tam,
.link-elegir-talle {
  margin-bottom: 20px !important;
  width: 300px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  background-color: var(--lila_oscuro);
  color: var(--violeta) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 1, 0.5) !important;
}

.link-elegir-tam:hover {
  background-color: var(--rosa_claro);
  color: var(--blanco) !important;
}

.link-elegir-talle:hover {
  background-color: var(--rosa_claro);
  color: var(--blanco) !important;
}
