:root {
  --lila_oscuro: #2A2F4F;
  --lila_claro: #917FB3;
  --violeta: #E5BEEC;
  --rosita: #FDE2F3;
  --rosa_claro: #efd8f3;
  --blanco: #fff;
  --lila_azulado: #9ea1d4;
  --lila_azulado_claro: #c4c6e5;
  --rojo: #fd8a8a;
  --salmon: #eeb0b0;
}
